* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
body {
    font-family: 'Alegreya', serif;
    background-color:#f0e6ff;
}

#content {
    display: flex;
}

#sidebar {
    background-color: #343a40;
    width: 20%;
    padding: 1rem;
    color: white;
    border-top-right-radius: 75px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}


#main-content {
    width: 80%;
    padding: 2rem;
}

nav {
    text-align: center;
    size: auto;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
nav li {
    display: list-item;
    
    margin-left: auto;
    margin-top: 50px;
    font-size: 3.1vh;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 2.8vh;
}
header {
    padding: 1rem;
    text-align: center;
}   


#barchart {
    margin: 2rem;
}

#barchart-container {
    background-color:white;
    border-radius: 15px;
    height: 650px;
}

#linechart {
    margin: 2rem;
}

#parent {
    margin-top: 15px;
    background-color:white;
    padding: 1rem;
    border-radius: 15px;
    height: 760px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#linechart-container {
    margin-top: 15px;
    background-color:white;
    padding: 1rem;
    border-radius: 15px;
    height: 650px;
}


#scatterplot {
    margin: 2rem;
}

#scatterplot-container {
    background-color:white;
    margin-top: 15px;
    padding: 1rem;
    border-radius: 15px;
    height: 360px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about-section {
    margin-top: 100px; /* Adjust this value as needed */
    padding-left: 250px;
}


.parent-container {
    display: flex;
}

.half-width {
    width: 50%;
    box-sizing: border-box;
}

.buttons-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
.floating-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  

.floating-button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
  
.floating-button:disabled {
    opacity: 0.5; /* Makes the button appear faded */
    background-color: gray; /* Changes the button's background color to gray */
    cursor: not-allowed; /* Changes the cursor to indicate that the button is not clickable */
}

h2 {
    margin: 0 auto;
    display: table;
}
